
.country-select{
    z-index: 10001;
    position: absolute;
    display: block;
    color: #C0E0DE;
    background-color: #000103;
    padding: 0.5rem;
    font-size: 150%;
    border-radius: 10px;
    left: 1rem;
}
.country-select .hoverinfo {
    background-color: #000103;
    color: #C0E0DE;
    border: none;
    box-shadow: none;
}