#modal-container{
    position: fixed;
    left:0;
    right:0;
    bottom: 0;
    top:0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-child{
    background-color: #3C3744;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #C0E0DE;
    width: 35rem;
}

#modal-title{
    padding: 1rem;
    font-size: 200%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    background-color: #000103;
    border-radius: 10px 10px 0 0;
}

#modal-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#modal-body > div {
    margin: 1rem;
}

#modal-body button{
    width: 80%;
    border-radius: 10px;
    min-height: 3rem;
    cursor: pointer;
    color: #C0E0DE;
    background-color: #000103;
    border: none;
}
#upgrade-arrow{
    transform: rotate(-90deg);
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}
.confirm-button{
    margin:2rem;
}

.modal-upgrades {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.modal-upgrades > .action-row:nth-of-type(odd){
    justify-content: flex-start;
}
.modal-upgrades > .action-row:nth-of-type(even){
    justify-content: flex-end;
}
.modal-upgrades > .description-container{
    display: flex;
    margin-top: 1rem;
    padding: 0 1rem;
}
.modal-upgrades > .description-container > div{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    box-shadow: 3px 3px 6px black;
}
.modal-upgrades > .description-container > .description {
    padding: 1rem;
}
.modal-upgrades > .description-container > .upgrade-button{
    height: 2.5rem;
    width: 20rem;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #C0E0DE;
    color: #000103;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 3px 3px 6px black;
    margin-left: 3rem;
    cursor: pointer;
}
.modal-upgrades > .action-row{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.modal-upgrades > .action-row > .header{
    width: 100%;
    padding: 0.5rem 1rem;
    text-shadow: 1px 1px 3px black;
    box-shadow: 0px 3px 3px -3px black;
    margin-bottom: 1rem;
}
.modal-upgrades > .action-row > .actions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.modal-upgrades > .action-row > .actions svg path{
    fill: black;
    cursor: pointer;
}
.modal-upgrades > .action-row > .actions svg{
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    margin: 0 1rem;
}
.modal-upgrades > .action-row > .actions input{
    height: 2.5rem;
    width: 2.75rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    border:none;
    cursor: default;
}
